*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navvar-bg{
    background-color: #ACECE8;
}
.what-section{
    background-color: #CBF1EF;
    padding-top: 100px;
    padding-bottom: 124px;
}
.what-left{
    padding-left: 100px;
    padding-top:174px ;
}
.white-right{
    padding-top: 100px;
    
}
.what-title{
    color: #18736D;
}


/* contact section */
.contact-section{
    text-align: center;

}